<% set_title("Home") %>

<section class="text-center home jumbotron">
  <h1 class="header"> Welcome to the <span class="text-muted"> #sourcepost</span> App </h2>

  <p class="sub-header">
    This is the home page of the <span class="text-muted"> #sourcepost</span> Application
  </p>

  <%= link_to 'Sign Up Now!', signup_path, class: 'btn btn-success btn-lg' %>
</section>
