<% set_title("Login") %>

<div class="row justify-content-md-center">
  <div class="col-6 border p-3">
    <h1 class="text-center">Login</h1>
    <%= render 'sessions/form', user: @user %>
  </div>
</div>
