<% set_title("Sign Up") %>

<div class="row justify-content-md-center">
  <div class="col-6 border p-3">
    <h1 class="text-center"> Sign Up</h1>
    <%= render 'users/form/form', user: @user %>
  </div>
</div>
