<footer class="footer">
  <div class="container d-flex justify-content-between">
    <p>
      A Rails Project, by Raphael Akpan &copy; 2018
    </p>
    <div class="links">
      <li> <%= link_to 'Contact', contact_path %> </li>
      <li> <%= link_to 'About', about_path%> </li>
    </div>
  </div>
</footer>
