<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#appbar" aria-controls="appbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand navbar-brand-color" href="/">
      <%= image_tag 'code.png', class: 'logo' %>
      #sourcepost
    </a>

    <div class="collapse navbar-collapse justify-content-end" id="appbar">
      <ul class="navbar-nav mt-2 mt-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Help', help_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Up', signup_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
